name = "radish"
version = "0.17.0"

description = "A Gleam client for Valkey, KeyDB, Redis and other tools with compatible APIs"
gleam = ">= 0.32.0"
licences = ["Apache-2.0"]
links = [
    { title = "Gleam", href = "https://gleam.run" },
    { title = "KeyDB", href = "https://keydb.dev" },
    { title = "Valkey", href = "https://github.com/valkey-io/valkey" },
    { title = "Redis", href = "https://redis.io" },
]
repository = { type = "github", user = "massivefermion", repo = "radish" }

internal_modules = [
    "radish/tcp",
    "radish/resp",
    "radish/utils",
    "radish/client",
    "radish/encoder",
    "radish/decoder",
    "radish/command",
    "radish/command/*",
]

[dependencies]
gleam_stdlib = ">= 0.34.0 and < 2.0.0"
gleam_otp = ">= 0.10.0 and < 2.0.0"
gleam_erlang = ">= 0.23.0 and < 2.0.0"
mug = ">= 3.1.0 and < 4.0.0"
lifeguard = ">= 4.0.0 and < 5.0.0"
qol_gleam = ">= 1.0.1 and < 2.0.0"

[dev-dependencies]
gleeunit = "~> 1.2"
